<main>
  <header>
    <h1 class="text-3xl font-bold underline">search filter</h1>
    <mat-slide-toggle (change)="changeTheLoadingListManagement($event)">Dynamic load</mat-slide-toggle>
  </header>
  <section (scroll)="loadMore()" class="grid gap-4 2xl:grid-cols-4 xl:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 justify-items-center">
    @for (pokemon of pokemon$ | async; track pokemon.id) {
    <div>
      <img [src]="pokemon.imageUrl" [alt]="pokemon.name" class="w-60 h-60">
      {{ pokemon.name }}
    </div>
    }
  </section>
  <footer>
    @if (loading) {
      <div>Loading...</div>
      }
      @if (!isDynamicLoad) {
        <button mat-raised-button color="primary">Primary</button>
        }
  </footer>
</main>
