// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pokeapi-showcase-primary: mat.define-palette(mat.$indigo-palette);
$pokeapi-showcase-accent: mat.define-palette(
  mat.$pink-palette,
  A200,
  A100,
  A400
);

// The warn palette is optional (defaults to red).
$pokeapi-showcase-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pokeapi-showcase-theme: mat.define-light-theme(
  (
    color: (
      primary: $pokeapi-showcase-primary,
      accent: $pokeapi-showcase-accent,
      warn: $pokeapi-showcase-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pokeapi-showcase-theme);

/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('./assets/fonts/stylesheet.css');

:root {
  --color-primary: #ffffff;
  --color-secondary: #acb4b4;
  --color-tertiary: #393939;
  --color-normal: #bfb16e;
  --color-fighting: #cf5c35;
  --color-flying: #bea0c2;
  --color-poison: #b96889;
  --color-ground: #e6c163;
  --color-rock: #c9ab40;
  --color-bug: #bebb30;
  --color-ghost: #987984;
  --color-steel: #cabbac;
  --color-fire: #f2953b;
  --color-water: #92a0c2;
  --color-grass: #9dc652;
  --color-electric: #f7cd3b;
  --color-psychic: #f77979;
  --color-ice: #b4d2b1;
  --color-dragon: #a172bf;
  --color-dark: #98794c;
  --color-fairy: #f0a692;

  --opacity-color-normal: #bfb16e4d;
  --opacity-color-fighting: #cf5c354d;
  --opacity-color-flying: #bea0c24d;
  --opacity-color-poison: #b968894d;
  --opacity-color-ground: #e6c1634d;
  --opacity-color-rock: #c9ab404d;
  --opacity-color-bug: #bebb304d;
  --opacity-color-ghost: #9879844d;
  --opacity-color-steel: #cabbac4d;
  --opacity-color-fire: #f2953b4d;
  --opacity-color-water: #92a0c24d;
  --opacity-color-grass: #9dc6524d;
  --opacity-color-electric: #f7cd3b4d;
  --opacity-color-psychic: #f779794d;
  --opacity-color-ice: #b4d2b14d;
  --opacity-color-dragon: #a172bf4d;
  --opacity-color-dark: #98794c4d;
  --opacity-color-fairy: #f0a6924d;

  --color-unknown: rgb(255, 202, 142, 0.7);
  --color-shadow: rgb(42, 78, 141, 0.7);
  --opacity-color-unknown: rgb(255, 202, 142, 0.3);
  --opacity-color-shadow: rgb(42, 78, 141, 0.3);

  --mdc-snackbar-container-color: #f44336;
  --mat-snack-bar-button-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  font-family: 'Flexo-demi';
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url(../src/assets/body_white_bg.png);
  width: 110%;
  height: 110%;

  -webkit-filter: blur(16px);
  -moz-filter: blur(16px);
  -o-filter: blur(16px);
  -ms-filter: blur(16px);
  filter: blur(16px);
  margin: 0;
}

.normal,
#normal {
  background-color: var(--color-normal);
}

.fighting,
#fighting {
  background-color: var(--color-fighting);
}

.flying,
#flying {
  background-color: var(--color-flying);
}

.poison,
#poison {
  background-color: var(--color-poison);
}

.ground,
#ground {
  background-color: var(--color-ground);
}

.rock,
#rock {
  background-color: var(--color-rock);
}

.bug,
#bug {
  background-color: var(--color-bug);
}

.ghost,
#ghost {
  background-color: var(--color-ghost);
}

.steel,
#steel {
  background-color: var(--color-steel);
}

.fire,
#fire {
  background-color: var(--color-fire);
}

.water,
#water {
  background-color: var(--color-water);
}

.grass,
#grass {
  background-color: var(--color-grass);
}

.electric,
#electric {
  background-color: var(--color-electric);
}

.psychic,
#psychic {
  background-color: var(--color-psychic);
}

.ice,
#ice {
  background-color: var(--color-ice);
}

.dragon,
#dragon {
  background-color: var(--color-dragon);
}

.dark,
#dark {
  background-color: var(--color-dark);
}

.fairy,
#fairy {
  background-color: var(--color-fairy);
}

.unknown,
#unknown {
  background-color: var(--color-unknown);
}

.shadow,
#shadow {
  background-color: var(--color-shadow);
}

.opacity-normal {
  background-color: var(--opacity-color-normal);
}

.opacity-fighting {
  background-color: var(--opacity-color-fighting);
}

.opacity-flying {
  background-color: var(--opacity-color-flying);
}

.opacity-poison {
  background-color: var(--opacity-color-poison);
}

.opacity-ground {
  background-color: var(--opacity-color-ground);
}

.opacity-rock {
  background-color: var(--opacity-color-rock);
}

.opacity-bug {
  background-color: var(--opacity-color-bug);
}

.opacity-ghost {
  background-color: var(--opacity-color-ghost);
}

.opacity-steel {
  background-color: var(--opacity-color-steel);
}

.opacity-fire {
  background-color: var(--opacity-color-fire);
}

.opacity-water {
  background-color: var(--opacity-color-water);
}

.opacity-grass {
  background-color: var(--opacity-color-grass);
}

.opacity-electric {
  background-color: var(--opacity-color-electric);
}

.opacity-psychic {
  background-color: var(--opacity-color-psychic);
}

.opacity-ice {
  background-color: var(--opacity-color-ice);
}

.opacity-dragon {
  background-color: var(--opacity-color-dragon);
}

.opacity-dark {
  background-color: var(--opacity-color-dark);
}

.opacity-fairy {
  background-color: var(--opacity-color-fairy);
}

.opacity-unknown {
  background-color: var(--opacity-color-unknown);
}

.opacity-shadow {
  background-color: var(--opacity-color-shadow);
}
